{% extends '@hdbt/content/node.html.twig' %}

{% block main_content %}

  {# Lead-in text, if any #}
  {{ content.field_lead }}

  {# Page divider, normally it comes from table of contents, but news does not have that #}
  <div class="page-divider"></div>

  {% embed "@hdbt/misc/container.twig" with {container_element: 'article__info'} %}
    {% block container_content %}
      {# Created date and modified date #}
      {% set created_date = node.createdtime %}
      {% if created_date|render %}
        <div class="content-date article__date" {{ alternative_language ? create_attribute(({ 'lang': lang_attributes.fallback_lang, 'dir': lang_attributes.fallback_dir })) }}>
          {% set html_created_date = created_date|format_date('custom', 'Y-m-d') ~ 'T' ~ created_date|format_date('custom', 'H:i') %}
          <time datetime="{{ html_created_date }}" class="content-date__datetime content-date__datetime--published">
            <span class="visually-hidden">{{ 'Published'|t({}, {'context': 'The helper text before the node published timestamp'}) }}</span>
            {{ created_date|format_date('publication_date_format') }}
          </time>

          {% if modified_at is not empty %}
            {% set html_modified_at = modified_at|format_date('custom', 'Y-m-d') ~ 'T' ~ modified_at|format_date('custom', 'H:i') %}
            <time datetime="{{ html_modified_at }}" class="content-date__datetime content-date__datetime--updated">
              {% if date(modified_at) < date('-365days') %}
                {{ 'Updated over a year ago'|t({}, {'context': 'The helper text before the node changed timestamp'}) }}
              {% else %}
                {{ 'Updated'|t({}, {'context': 'The helper text before the node changed timestamp'}) }} {{ modified_at|format_date('publication_date_format') }}
              {% endif %}
            </time>
          {% endif %}
        </div>
      {% endif %}

      {% if content.field_author|render %}
        <div class="article__author">
          <span class="article__author__label">{{ 'Author'|trans }}:</span> {{ drupal_view('author_links','block_1', node.id) }}
        </div>
      {% endif %}

      {% if content.field_article_series|render %}
        <div class="article__series">
          <span class="article__series__label">{{ 'Belongs to the series'|trans }}:</span> {{ drupal_view('article_series_links','block_1', node.id) }}
        </div>
      {% endif %}

      {% if content.field_attachment|render %}
        <div class="article__attachment">
          {{ content.field_attachment }}
        </div>
      {% endif %}

    {% endblock container_content %}
  {% endembed %}

  {# Content region #}
  {% if content.field_content|render|striptags|trim is not empty %}
    {{ content.field_content }}
  {% endif %}

  {# Social media links #}
  {% embed "@hdbt/misc/container.twig" with {container_element: 'social-media'} %}
    {% block container_content %}
      <h2 class="social-media__title">{{ 'Share'|t }}</h2>
      {{ drupal_block('helfi_platform_config_social_sharing_block') }}
    {% endblock container_content %}
  {% endembed %}


  {# Tags #}
  {% embed "@hdbt/misc/container.twig" with {container_element: 'keywords'} %}
    {% block container_content %}
      {{ drupal_view('keyword_links','block_1', node.id) }}
    {% endblock container_content %}
  {% endembed %}
{% endblock main_content %}
