{%
  set title_classes = [
    'label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% else %}
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}: </div>
  {% for item in items %}
    {% if loop.last %}
      {% set separator = '' %}
    {% else %}
      {% set separator = ',' %}
    {% endif %}
    {{ item.content }}{{ separator }}
  {% endfor %}
{% endif %}
